@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script:wght@400..700&family=Fugaz+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap");

body {
  font-family: Inter !important;
  background-color: #161616 !important;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (orientation: portrait) {
  body {
    background-color: #161616 !important;
  }
}

.main-card {
  background-color: #1f1b24;
  border-radius: 15px;
}

.nav-link {
  color: white !important;
}

.nav-item {
  font-weight: bold;
}

.navbar.navbar-expand-lg {
  background-color: #1f1b24;
}

.fa-solid.fa-bars {
  color: white;
}

.navbar-toggler {
  border: none;
}

#hero-text {
  font-size: 30px;
  font-family: Inter;
}

.form-container {
  display: flex;
  gap: 20px;
}

.logo-rbx {
  width: 25px;
}

.rbx-currency {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  #container-form {
    display: flex;
    flex-direction: column;
  }
}

#form-user {
  background-color: white;
  padding: 16px;
}

.list-rbx-hover:hover {
  background-color: black;
  color: white;
}

.card.mx-3 {
  border: none;
}

@media only screen and (max-width: 575px) {
  #quantity-row {
    gap: 15px;
  }
}

#username-form {
}

@media (max-width: 576px) {
  .custom-banner-carousel .carousel-item {
    height: 100px;
  }
}

swiper-container {
  width: 100%;
  height: 300px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-swipe {
  height: 100%;
}

@media (max-width: 768px) {
  swiper-container {
    height: 200px;
  }
}

@media (max-width: 576px) {
  swiper-container {
    height: auto;
  }
}

.card-rbx {
  width: 80px;
}

.money-rbx {
  width: 120px;
}

.jlh-rbx {
  font-size: 38px;
  color: #bb86fc;
  font-weight: bold;
}

.mny-rbx {
  font-size: 38px;
  color: #bb86fc;
  font-weight: bold;
}

.dec-rbx {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.polisi {
  color: #272730;
}

#stats-container {
  margin: 0;
  gap: 20px;
}

#stats-form {
  margin: 0;
}

.container-stk {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding-top: 20px;
}

#button-rbx {
  background-color: #bb86fc;
}

@media only screen and (max-width: 767px) {
  #list-rbx-form {
    margin-top: 20px;
  }
  #container-rbx-frm {
    flex-direction: column;
  }
}

#stk-rbx {
  border: 1px solid #bb86fc;
  border-radius: 10px;
  padding: 15px;
}

#list-rbx-form {
  border: 1px solid #bb86fc;
  border-radius: 10px;
  padding-top: 30px;
  padding-left: 30px;
}

#container-form {
  background-color: #1f1b24;
}

.jdl-stk-rbx {
  color: white;
}

#stk-border {
  border: 1px solid #bb86fc;
  border-radius: 10px;
}

#btn-beli {
  background-color: #bb86fc;
}

#title-form {
  color: #ffffff;
}

.list-rbx-hover,
#jlh-rbx-form,
#jdl-form,
.jlh-uang {
  color: #ffffff;
}

.coming-soon {
  color: #bb86fc;
  font-family: Pacifico;
  font-size: 30px;
  font-weight: bold;
}

footer {
  background-color: #1f1b24;
  color: #12f7bb;
  margin-top: 100px;
}

.logo-rs {
  width: 50px;
}

@media only screen and (max-width: 575px) {
  .contain-ft {
    padding: 20px !important;
  }
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  color: #bb86fc;
}

.ft-item {
  color: white;
  font-weight: none;
}
